.notes__main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: lighten($color: $darken, $amount: 87);
}

.notes__appbar {
  background-color: $primary;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}

.notes__buttons {
  color: white;

  button:hover {
    color: darkgray;
  }
}

.notes__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}


.notes__titles{
  font-size: 1.65rem;
  color:$primary;
  font-weight: lighter;
}



.notes__title-input,
.notes__description-input {
  border: none;
  margin: 2px 0 2px 0;
  border: 0;
  border-bottom: 1px solid $primary;
  background-color: transparent;
  color: $textColor;
  font-size: 1rem;

  &:focus {
    outline: none;
  }
}

.notes__description-input {
  resize: none;
  flex: 1 1 auto;
}
.notes__image img{
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
