// colors
$primary: #3b5998;
$secondary: #4b5b7f;
$accent: #3b987b;
$error: #983b58;
$info: #3b8798;
$success: #58983b;
$warning: #987b3b;
$darken: #161b24;
$corplight: #a7bbf2;
$corplightA: #e6ecff;
$corplightB: #e1e8fa;
$textColor: rgba(0, 0, 0, 0.87);
$textOpacity: rgba(0, 0, 0, 0.7);
$textDisable: rgba(0, 0, 0, 0.1);
